@charset "UTF-8";

.dataTables_wrapper .dataTable 
{
border:  1px solid #333;
}
.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td
{
    border-bottom: 1px solid #333 !important;
    border-right: 1px solid #333;

}

table.table-bordered th:last-child, table.table-bordered td:last-child 
{
    border-right: 1px solid #333 !important;
}

.mau02:hover{
    background-color: #F3F6F9;
    color: #6993FF;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.box_dark{
    border: solid 1px #05D6A0;
    box-shadow: 0 2px 8px rgb(0 24 171 / 43%);
    padding: 10px;
    overflow: auto;
    color: #030938;
    border-radius: 3px;
    width: 100%;
    transition: all 0.3s;
    margin-bottom: 20px;
}
